section {
  padding: 2rem;
}

section:nth-child(odd) {
  background-color: #444E58;
  border-radius: 0.5rem;
}

#bio {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }

  *:not(:first-child) {
    margin-top: 16px;

    @media screen and (min-width: 768px) {
      margin-top: 0;
    }
  }

  h2 {
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      margin-left: 0.5rem;
      margin-bottom: 2rem;
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }

    img {
      width: 250px;
      height: 250px;
      margin-right: 3rem;
      border-radius: 50%;
      margin: 0 auto;

      @media screen and (min-width: 768px) {
        width: 350px;
        height: 350px;
        margin: 0;
      }
    }

    p {
      @media screen and (min-width: 768px) {
        margin-left: 32px;
      }
    }
  }
}
